<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!-- vo alias -->
<!--       <typeAlias type="com.app.restful.domain.vo.MemberVO" alias="MemberVO"></typeAlias>-->
       <typeAlias type="com.app.springhomework.domain.vo.PostVO" alias="PostVO"></typeAlias>

        <!-- DTO ALIAS-->
       <typeAlias type="com.app.springhomework.domain.dto.PostWriteRequestDTO" alias="PostWriteRequestDTO"></typeAlias>
       <typeAlias type="com.app.springhomework.domain.dto.PostUpdateRequestDTO" alias="PostUpdateRequestDTO"></typeAlias>
       <typeAlias type="com.app.springhomework.domain.dto.PostListResponseDTO" alias="PostListResponseDTO"></typeAlias>
       <typeAlias type="com.app.springhomework.domain.dto.PostReadResponseDTO" alias="PostReadResponseDTO"></typeAlias>

        <typeAlias type="com.app.springhomework.domain.dto.ReplyWriteRequestDTO" alias="ReplyWriteRequestDTO"></typeAlias>
        <typeAlias type="com.app.springhomework.domain.dto.ReplyListResponseDTO" alias="ReplyListResponseDTO"></typeAlias>

    </typeAliases>
</configuration>