<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springhomework.mapper.ReplyMapper">
    <insert id="insert" parameterType="ReplyWriteRequestDTO">
        <selectKey resultType="Long" order="BEFORE" keyProperty="id">
            SELECT SEQ_POST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPLY
        VALUES(#{id}, #{replyContent}, CURRENT_TIMESTAMP, #{postId}, #{memberId})
    </insert>

    <select id="selectById" parameterType="Long" resultType="ReplyListResponseDTO">
        SELECT TBR.id, TBR.REPLY_CONTENT, TBR.REPLY_CREATED_AT, TBR.POST_ID, TBM.MEMBER_NAME, TBM.MEMBER_EMAIL
        FROM TBL_REPLY TBR
        JOIN TBL_MEMBER TBM
        ON TBR.MEMBER_ID = TBM.ID
        WHERE TBR.POST_ID = #{id}
        ORDER BY TBR.ID DESC
    </select>
    
    <delete id="deleteByPostId" parameterType="Long">
        DELETE FROM TBL_REPLY
        WHERE POST_ID = #{id}
    </delete>
</mapper>
